.cart-area{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F4F4;
    box-shadow: 4px 4px 7px 4px grey;
    border-radius: 10px;
    margin-top:40px;
    padding:10px;
    height: 400px;
}