.hero{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F4F4;
    box-shadow: 4px 4px 7px 4px grey;
    border-radius: 10px;
    margin:10px;
    padding-bottom:5px;
}
.hero img{
    height:200px;
    border-radius: 50%; 
}
.cart-btn{
    background-color: goldenrod;
    width: 150px;
    height:30px;
    border:1px solid gray;
    border-radius:5px;
    cursor:pointer;
}